/* Created by: Emma Janani
* Created on: Mar 2022
* This CSS file defines the style for index.html
* ICS2O-Unit5-02-HTML-ProductOfNumbers
*/

body {
	background-color: #9bc1eb;
}

h1 {
	background-color: #326ba8;
	color: hsl(0, 0%, 0%);
	padding: 40px;
	text-align: center;
}

div {
	
  font-weight: bold;
  color: #050505;
  margin: 5px;
}

#display-results{
  background-color: #e39ac5;
	font-size: 20px;
}
